[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tmapverse"]
	path = tmapverse
	url = https://github.com/cran/tmapverse
[submodule "treemap"]
	path = treemap
	url = https://github.com/cran/treemap
